

@keyframes flicker {
    0%, 100% {
      opacity: 1;
    }
    5% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    15% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    35% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
  }
  
  .about-container {
    position: relative;
    display: inline-block;
    padding: 2rem;
    border-radius: 10px;
    background-color: #2d3748;
    color: white;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box; /* Ensure consistent sizing */
  }
  /*
  .about-container.flicker {
    animation: flicker 0.5s ease-in-out; /* Flicker effect */
  /*}
  
  .about-container.normal {
    /* No animation for normal state */
  /*}*/
  
  .backgroundPattern {
    background-image: url("../../assets/images/beehive-37436_1280.png");
    }